# Courses Demo
This Jupyter notebook is for exploring the data set courses20-21.json
which consists of all Brandeis courses in the 20-21 academic year (Fall20, Spr21, Sum21) 
which had at least 1 student enrolled.

First we need to read the json file into a list of Python dictionaries

In [17]:
import json

In [18]:
with open("courses20-21.json","r",encoding='utf-8') as jsonfile:
    courses = json.load(jsonfile)

## Structure of a course
Next we look at the fields of each course dictionary and their values

In [19]:
print('there are',len(courses),'courses in the dataset')
print('here is the data for course 1246')
courses[1246]

there are 7813 courses in the dataset
here is the data for course 1246

{'limit': 28,
 'times': [{'start': 1080, 'end': 1170, 'days': ['w', 'm']}],
 'enrolled': 4,
 'details': 'Instruction for this course will be offered remotely. Meeting times for this course are listed in the schedule of classes (in ET).',
 'type': 'section',
 'status_text': 'Open',
 'section': '1',
 'waiting': 0,
 'instructor': ['An', 'Huang', 'anhuang@brandeis.edu'],
 'coinstructors': [],
 'code': ['MATH', '223A'],
 'subject': 'MATH',
 'coursenum': '223A',
 'name': 'Lie Algebras: Representation Theory',
 'independent_study': False,
 'term': '1203',
 'description': "Theorems of Engel and Lie. Semisimple Lie algebras, Cartan's criterion. Universal enveloping algebras, PBW theorem, Serre's construction. Representation theory. Other topics as time permits. Usually offered every second year.\nAn Huang"}

## Cleaning the data
If we want to sort courses by instructor or by code, we need to replace the lists with tuples (which are immutable lists)

In [20]:
for course in courses:
        course['instructor'] = tuple(course['instructor'])
        course['coinstructors'] = tuple([tuple(f) for f in course['coinstructors']])
        course['code']= tuple(course['code'])

In [21]:
print('notice that the instructor and code are tuples now')
courses[1246]

notice that the instructor and code are tuples now

{'limit': 28,
 'times': [{'start': 1080, 'end': 1170, 'days': ['w', 'm']}],
 'enrolled': 4,
 'details': 'Instruction for this course will be offered remotely. Meeting times for this course are listed in the schedule of classes (in ET).',
 'type': 'section',
 'status_text': 'Open',
 'section': '1',
 'waiting': 0,
 'instructor': ('An', 'Huang', 'anhuang@brandeis.edu'),
 'coinstructors': (),
 'code': ('MATH', '223A'),
 'subject': 'MATH',
 'coursenum': '223A',
 'name': 'Lie Algebras: Representation Theory',
 'independent_study': False,
 'term': '1203',
 'description': "Theorems of Engel and Lie. Semisimple Lie algebras, Cartan's criterion. Universal enveloping algebras, PBW theorem, Serre's construction. Representation theory. Other topics as time permits. Usually offered every second year.\nAn Huang"}

# Exploring the data set
Now we will show how to use straight python to explore the data set and answer some interesting questions. Next week we will start learning Pandas/Numpy which are packages that make it easier to explore large dataset efficiently.

Here are some questions we can try to asnwer:
* what are all of the subjects of courses (e.g. COSI, MATH, JAPN, PHIL, ...)
* which terms are represented?
* how many instructors taught at Brandeis last year?
* what were the five largest course sections?
* what were the five largest courses (where we combine sections)?
* which are the five largest subjects measured by number of courses offered?
* which are the five largest courses measured by number of students taught?
* which course had the most sections taught in 20-21?
* who are the top five faculty in terms of number of students taught?
* etc.

In [6]:
len({c['subject'] for c in courses})

((497, 'HIST'),
 (416, 'PSYC'),
 (402, 'NEUR'),
 (295, 'BCHM'),
 (287, 'PHYS'),
 (273, 'HS'),
 (271, 'COSI'),
 (265, 'MUS'),
 (264, 'ENG'),
 (262, 'BCBP'))

Print a list of all courses offered for a specific subject

## A list of open courses in fine arts

In [22]:
{c['name'] for c in courses if c['status_text']=='Closed' if c['subject']=='COSI' if c['enrolled']>10}

{'Capstone Project for Software Engineering',
 'Data Management for Data Science',
 'Deep Learning',
 'Discrete Structures',
 'Fundamentals of Artificial Intelligence',
 'Introduction to Problem Solving in Python',
 'Operating Systems'}

## 5c. 
what was the median size of a COSI course last year (counting only those courses with at least 10 students)

In [23]:
list = {c['enrolled'] for c in courses if c['subject']=='COSI' if c['enrolled']>=10}
sum=0 
for l in list:
    sum = sum+l
avg= round(sum/len(list))
print(avg)

56

## 5d. 
Create a list of tuples (E,S) where S is a subject and E is the number of students enrolled in courses in that subject, sort it and print the top 10. This shows the top 10 subjects in terms of number of students taught.

In [24]:
sizes_dict = {}
for course in courses:
    sizes_dict[course['subject']] = (sizes_dict[course["subject"]] + course["enrolled"]) if course['subject'] in sizes_dict else 0 
    
courses_d = []
for subject_name, subject_size in sizes_dict.items():
    courses_d.append([subject_name, subject_size]) #map subject name to its size.eg,. {Chem, 1}
    
courses_by_size = sorted(courses_d, key = lambda course:  - course[1]) #sorting 
tuple([(course[1], course[0]) for course in courses_by_size [1:11]]) #create tuples

164
2747
2315
1046
5298
1144
2289
912
918
1693
283
1105
935
3075
348
380
1775
832
923
92
30
779
236
0
2223
32
47
525
1097
442
156
0
46
42
16
41
0
2717
77
218
92
64
87
631
211
272
215
183
368
4
7
22
14
24
7
52
25
615
42
0
559
375
9
105
992
0
13
72
13
43
301
171
160
375
60
43
20
0
54
0
262
0
22
0
740
86
0
0
40
28
4
28
45
0
0
0
14
0
0
0
0
0
0
0
0
0
99
33
45
26
145
57
43
47
93
196
153
62
225
0
[['HS', 5298], ['BIOL', 3075], ['BUS', 2747], ['HWL', 2717], ['ECON', 2315], ['CHEM', 2289], ['COSI', 2223], ['MATH', 1775], ['PSYC', 1693], ['ANTH', 1144], ['ENG', 1105], ['PHYS', 1097], ['FIN', 1046], ['FA', 992], ['POL', 935], ['SOC', 923], ['HIST', 918], ['PHIL', 912], ['MUS', 832], ['ED', 779], ['UWS', 740], ['HISP', 631], ['LGLS', 615], ['HSSP', 559], ['THA', 525], ['NEJS', 442], ['CHIN', 380], ['ENVS', 375], ['NPSY', 375], ['BCHM', 368], ['NBIO', 348], ['LING', 301], ['WGS', 283], ['IGS', 272], ['EL', 262], ['CLAS', 236], ['RUCD', 225], ['JAPN', 218], ['AMST', 215], ['FREN', 211], ['RPJM', 196], ['AAAS', 183], ['JOUR', 171], ['HRNS', 164], ['HBRW', 160], ['NEUR', 156], ['RSAN', 153], ['RDMD', 145], ['FILM', 105], ['RBIF', 99], ['RMGT', 93], ['BCBP', 92], ['KOR', 92], ['ITAL', 87], ['COMP', 86], ['GER', 77], ['CAST', 72], ['RUS', 64], ['RSEG', 62], ['ARBC', 60], ['RHIN', 57], ['AAAS/WGS', 54], ['REL', 52], ['LAT', 47], ['RIDT', 47], ['ESL', 46], ['BISC', 45], ['RCOM', 45], ['LALS', 43], ['INT', 43], ['RIAS', 43], ['BUS/FIN', 42], ['QBIO', 42], ['ECON/FIN', 41], ['AAPI/HIS', 40], ['RBOT', 33], ['GRK', 32], ['BIOT', 30], ['RECS', 28], ['AAAS/HIS', 28], ['RDFT', 26], ['PAX', 25], ['YDSH', 24], ['COML', 22], ['AMST/ENG', 22], ['CA', 20], ['BUS/ECON', 16], ['SAS', 14], ['HUM/UWS', 14], ['IIM', 13], ['IMES', 13], ['ECS', 9], ['EAS', 7], ['SJSP', 7], ['BIPH', 4], ['AAPI/WGS', 4], ['COMH', 0], ['PMED', 0], ['HS/POL', 0], ['BIBC', 0], ['HOID', 0], ['EBIO', 0], ['HUM', 0], ['CBIO', 0], ['RECS/THA', 0], ['MERS', 0], ['AAS/AAPI', 0], ['AAPI', 0], ['GS', 0], ['POL/WGS', 0], ['CHSC', 0], ['AMST/MUS', 0], ['HIST/SOC', 0], ['QR', 0], ['CLAS/ENG', 0], ['ANTH/WGS', 0], ['HIST/WGS', 0], ['CLAS/NEJ', 0], ['ECS/ENG', 0], ['GECS', 0]]

((3075, 'BIOL'),
 (2747, 'BUS'),
 (2717, 'HWL'),
 (2315, 'ECON'),
 (2289, 'CHEM'),
 (2223, 'COSI'),
 (1775, 'MATH'),
 (1693, 'PSYC'),
 (1144, 'ANTH'),
 (1105, 'ENG'))